*, :after, :before {
  border: 0 solid #dae1e7;
}

.maintenance-notification {
  position: fixed;
  width: 100%;
  margin-top: -30px;
  background-color: #d22c5d !important;
  height: 35px;
  text-align: center;

  p {
    color: #e6e6e6;
    font-size: 13px;
    padding: 5px;
    font-weight: 600;
  }
}

a.btn {
  display: inline-block;
  color: #484746;
}

.m-t-25 {
  margin-top: 25px !important;
}

.btn {
  border: none;
  border-radius: 2px;
  font-size: 13px;
  line-height: 16px;
  padding: 6px 15px;
  display: inline-block;
  position: relative;
  text-shadow: none;
  cursor: pointer;
  transition: background .2s;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.form-input {
  color: #484746;
  line-height: 16px;
  font-size: 13px;
  height: 32px;
  background: #fafafa;
  transition: background .2s;
  border: none;
  border-bottom: 1px solid rgba(0,0,0,.01);
  box-shadow: inset 0 1px 1px 0 rgba(0,0,0,.1);
  border-radius: 2px;
  padding: 8px;
  width: 100%;
  display: block;
}

.btn-primary {
  background: #3aa3e3;
  color: #fff;
  box-shadow: 0 1px #1d8acd;
}

.status {
  display: inline-block;
  padding: 2px 6px;
  color: #484746;
  font-size: 0;
  line-height: 1.2em;
  text-align: center;
  white-space: nowrap;
  border-radius: 4px;
  background: #f8f8f8;
  outline: 0;

  .status-text {
    color: #fff;
    text-transform: uppercase;
    font-size: 10px;
    line-height: 11px;
  }
}

.status-60min {
  background-color: #3BAFA3 !important;
}

.status-arrived {
  background-color: #F36235 !important;
}

.status-blue {
  background: #79baee !important;
}

.status-light_green {
  background: #b6d58c !important;
}

.status-warn {
  background-color: #ffe347 !important;
}

.status-light_blue {
  background: #6ac5ed !important;
}

.status-gray {
  background: #e1e0dc !important;
}

.cdx-search-box {
  position: relative;
  min-height: 61px;
  font-size: 28px;
  -webkit-transition: background-color .2s ease-out,color .2s ease-out;
  -o-transition: background-color .2s ease-out,color .2s ease-out;
  transition: background-color .2s ease-out,color .2s ease-out;
  background-color: #393945;
  display: flex;

  img {
    color: #b4b8cd;
    width: 25px;
    height: 25px;
    margin-top: 1.2rem;
    margin-left: 2.5rem;
    opacity: 0.5;
  }

  input {
    font-size: 20px;
    font-weight: normal;
    width: 100%;
    box-sizing: border-box;
    background-color: inherit;
    color: rgb(255, 255, 255);
    padding: 1.1rem 1rem;
    border-radius: 0px;
    outline: none;
  }
}

div#content_page__table {
  margin-top: 1.5rem;
  background-color: #393945;
  padding: 0;

  table {
    thead {
      tr {
        th {
          color: #fff;
          font-family: Barlow,sans-serif;
          font-size: 15px;
          font-weight: 400;
          border-top: none;
        }
      }
    }
    td {
      color: #b7b8c1;
      font-size: 14px;
      font-weight: 300;
    }
    th, td {
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }
  }
}

div#content {
  min-height: 100vh;
  padding-top: 2rem;

  a.btn.btn-tbl-delete.btn-xs.btn-view-route {
    background-color: #f96332;
    border-radius: 50% !important;
    padding: 0 !important;
    color: #fff !important;
    box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.2);
    width: 25px;
    height: 27px;

    i {
      font-size: 11px;
    }
  }
}

.alert.alert-light {
  background: #ffffff;
  border: 1px solid #ffffff;
  color: #282a3c;

  .alert-text {
    color: #282a3c;
  }
}

.alert.alert-elevate {
  -webkit-box-shadow: 0px 0px 13px 0px rgba(82, 63, 105, 0.1);
  box-shadow: 0px 0px 13px 0px rgba(82, 63, 105, 0.1);
}

.alert {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  padding: 1rem 2rem;
  margin: 25px 0 20px 0;
  border-radius: 0 !important;

  i {
    color: #2c77f4 !important;
  }

  .alert-icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 1.25rem 0 0;
  }

  .alert-text {
    -ms-flex-item-align: center;
    align-self: center;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    color: #282a3c;
    font-size: 14px !important;
    font-weight: 300;
  }
}

.dv {
  background: #fff;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 25px;

  .dv-body {
    padding: 15px !important;
  }

  td {
    padding: .75rem !important;
    vertical-align: top !important;
  }

  .dv-header {
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    border: 1px solid #eee;

    &-title {
      flex: 2;
    }

    &-columns {
      flex: 2;
      display: flex;
      justify-content: space-between;
    }

    &-select {
      display: block;
      width: 100%;
    }

    &-operators {
      flex: 2;
      display: flex;
      justify-content: space-between;
      padding-right: 15px;
    }

    &-search {
      flex: 4;
    }

    &-input {
      display: block;
      width: 100%;
    }

    &-submit {
      flex: 1;
    }

    &-btn {
      display: block;
      width: 100%;
    }
  }
}
.dv-body {
  overflow: scroll;
  flex: 1;
}

.td-price {
  color: #5d78ff !important;
}

small {
  font-size: 90%;
}

.btn-sm {
  padding: 4px 8px;
  line-height: 12px;
  font-size: 12px;
  outline: none;
}

.btn-default {
  color: #484746;
  background: #ececec !important;
  box-shadow: 0 1px #d3d3d3;
}

.dv-table {
  width: 100%;

  thead {
    th {
      padding: 5px 10px;
      text-align: left;
      border-bottom: 2px solid hsla(0,0%,87.1%,.28);
      padding: 8px;
      font-weight: 700;
      color: #5f6d84;
    }
  }

  tbody {
    td {
      padding: 5px 10px;
    }
  }
}

// Variables
@import "variables";


.dv {
  height: 100%;
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
}

.dv-header {
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #e0e0e0;
  align-items: center;
  &-title {
    flex: 2;
    padding-right: 15px;
  }
  &-pre {
    margin-right: 15px;
  }
  &-select {
    display: block;
    width: 100%;
  }
  &-columns {
    flex: 2;
    display: flex;
    justify-content: space-between;
    padding-right: 15px;
  }
  &-operators {
    flex: 2;
    display: flex;
    justify-content: space-between;
    padding-right: 15px;
  }
  &-search {
    flex: 4;
    padding-right: 15px;
  }
  &-input {
    display: block;
    width: 100%;
    border: 1px solid #d6d6d6;
    padding: 0 5px;
    outline: none;
  }
  &-submit {
    flex: 1;

    .dv-header-btn {
      background: #3aa3e3;
      color: #fff;
      outline: none;
      box-shadow: 0 1px #1d8acd;
    }
  }
  &-btn {
    display: block;
    width: 100%;
  }
}

.dv-body {
  flex: 1;
  overflow: scroll;
}
.dv-table {
  width: 100%;
  thead {
    th {
      padding: 10px 15px;
      border-bottom: 1px solid #e9e9e9;
    }
  }
  tbody {
    td {
      padding: 10px 15px;
      border-bottom: 1px solid #e9e9e9;
    }
    tr:last-child {
      border-bottom: none;
    }
    tr:nth-child(odd) {
      background: #f5f5f5;
    }
  }
}

.btn.btn-clean {
  border-color: transparent;
  background: transparent;
  color: #93a2dd;
}

.sidebar-nav-link {
  width: 100%;
  padding: 7px 15px;
  color: #eee0d3;
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  .sidebar-icon {
    width: 15%;
    color: #eee0d3;
  }

  .sidebar-text {
    width: 75%;
    display: block;
    /* padding-left: 25px; */
    /* width: 170px; */
    opacity: 1;
    transition: opacity 0.5s;
    font-size: 13px;
  }

  .sidebar-arrow {
    text-align: right;
    width: 10%;
    color: #eee0d3;
  }
}

.dv-footer {
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #e0e0e0;
  align-items: center;
  font-size: 90%;

  &-input {
    width: 40px;
    text-align: center;
  }
  &-btn {
    line-height: 12px;
    font-size: 12px !important;
    padding: 4px 8px !important;
    outline: none !important;
  }
}

.dv-footer-item {
  display: flex;
  justify-content: space-between;
}
.dv-footer-sub {
  padding-left: 15px;
}

.panel-alt {
  background: #fafbfc;
}

.panel-footer {
  padding: 8px 15px;
  border-top: 1px solid hsla(0,0%,87.1%,.28);
}

.td-price {
  color: #5d78ff !important;
}

div#customers--accordion {
  .card:first-of-type {
    border-bottom: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }

  .header-title, .title-text {
    margin-bottom: 8px;
    text-transform: capitalize;
    letter-spacing: .02em;
    font-size: 15px;
    font-weight: 500;
    margin-top: 0;
    color: #50649c;
    text-shadow: 0 0 1px rgba(239,242,249,.1);
  }

  .card {
    overflow: hidden;
  }

  .card {
    margin-bottom: 24px;
    border: none;
    -webkit-box-shadow: 0 0 3px rgba(31,30,47,.05);
    box-shadow: 0 0 3px rgba(31,30,47,.05);
    border-radius: 3px;
    background-color: #fff;
  }

  .thumb-md {
    height: 48px;
    width: 48px;
    font-size: 14px;
    font-weight: 700;
  }

  .table-responsive>.table-bordered {
    border: 0;
  }

  .table-bordered td, .table-bordered th {
    border: 1px solid #eaf0f7;
  }

  .table {
    color: #7286a2;

    td {
      vertical-align: middle;
    }

    thead tr th {
      font-weight: 500;
      color: #50649c;
      font-size: 13px;
      border-bottom: 2px solid #eaf0f7;
    }
  }

  .table-bordered thead {
    background-color: #f1f5fa;
  }

  h5.mt-0.mb-1 {
    color: #50649c;
    font-size: 16px;
    font-weight: 700;
  }

  h4.mt-0 {
    color: #50649c;
    font-size: 16px;
    font-weight: 700;
  }

  .carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;

    .media {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-align: start;
      align-items: flex-start;
    }

    .badge-primary {
      background-color: #4d79f6;
    }

    .badge {
      -webkit-box-shadow: 0 0 3px rgba(31,30,47,.05);
      box-shadow: 0 0 3px rgba(31,30,47,.05);
      padding: 4px 6px 3px;
      font-weight: 500;
      line-height: 10px;
    }
  }

  .owl-carousel .owl-item img {
    display: block;
    width: auto;
  }
}

div#dash {
  .page-title-box {
    padding: 0 0 25px 0;

    .breadcrumb {
      font-size: 13px;
      margin-bottom: 0;
      padding: 2px 0;
      background-color: transparent;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      padding: .75rem 1rem;
      margin-bottom: 1rem;
      list-style: none;
      background-color: #e9ecef;
      border-radius: .25rem;

      .breadcrumb-item.active {
        color: #7081b9;
      }

      .breadcrumb-item {
        padding-left: .5rem;

        a {
          color: #8997bd;
        }
      }
    }

    .page-title {
      font-size: 18px;
      margin: 0;
      color: #50649c;
    }
  }

  .card {
    margin-bottom: 24px;
    border: none;
    -webkit-box-shadow: 0 0 3px rgba(31,30,47,.05);
    box-shadow: 0 0 3px rgba(31,30,47,.05);
    border-radius: 3px;
    background-color: #fff;
  }

  .card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
  }

  .crm-data-card {
    h3 {
      font-weight: 600;
      color: #50649c;
      font-size: 24px;
    }

    .text-muted {
      color: #a4abc5!important;
    }
  }

  .text-secondary {
    color: #4ac7ec!important;
  }

  .mr-2, .mx-2 {
    margin-right: .5rem!important;
  }

  .crm-data-card .data-icon {
    text-align: center;

    i {
      font-size: 24px;
      line-height: 48px;
      display: inline-block;
      width: 48px;
      height: 48px;
    }

    .bg-soft-warning {
      background-color: rgba(243,199,77,.15)!important;
      color: #f3c74d!important;
    }

    .bg-soft-success {
      background-color: rgba(30,202,184,.15)!important;
      color: #1ecab8!important;
    }

    .bg-soft-secondary {
      background-color: rgba(74,199,236,.15)!important;
      color: #4ac7ec!important;
    }

    .bg-soft-pink {
      background-color: rgba(255,93,160,.15)!important;
      color: #ff5da0!important;
    }
  }
}

div#recent-transactions {
  .card-header:first-child {
    border-radius: -webkit-calc(.35rem - 1px) -webkit-calc(.35rem - 1px) 0 0;
    border-radius: -moz-calc(.35rem - 1px) -moz-calc(.35rem - 1px) 0 0;
    border-radius: calc(.35rem - 1px) calc(.35rem - 1px) 0 0;
  }

  .card-header {
    border-bottom: none;
  }

  .card-header {
    padding: 1.5rem;
    border-bottom: 1px solid rgba(0,0,0,.06);
  }

  .card {
    .card-title {
      font-weight: 500;
      letter-spacing: .05rem;
      font-size: 1.12rem;
    }

    .box-shadow-2 {
      -webkit-box-shadow: 0 10px 18px 0 rgba(62,57,107,.2);
      box-shadow: 0 10px 18px 0 rgba(62,57,107,.2);
    }

    .btn-danger {
      border-color: #FF1635!important;
      color: #FFF;
    }
  }

  table#recent-orders{
    width: 100%;
    margin-bottom: 1rem;
    color: #6B6F82;

    .avatar img {
      width: 100%;
      max-width: 100%;
      height: auto;
      border: 0;
      width: 24px;
      border-radius: 1000px;
    }

    .avatar-xs {
      width: 24px !important;
    }

    .avatar {
      position: relative;
      width: 30px;
      white-space: nowrap;
      border-radius: 1000px;
      vertical-align: bottom;
    }

    .box-shadow-2 {
      -webkit-box-shadow: 0 10px 18px 0 rgba(62,57,107,.2);
      box-shadow: 0 10px 18px 0 rgba(62,57,107,.2);
    }

    td, th {
      padding: 0.75rem;
      font-size: 1rem;
      line-height: 1.45;
    }

    thead th {
      vertical-align: bottom;
      border-bottom: 2px solid #E3EBF3;
      border-top: 1px solid #E3EBF3;
    }

    .danger {
      color: #FF4961!important;
    }

    .success {
      color: #28D094!important;
    }

    .font-medium-1 {
      font-size: 0.8rem !important
    }
  }
}

i.star-gold {
  color: #e79c3e;
}

div#invoice {
  .put-right {
    margin-left: auto;
    text-align: right;
  }

  .logo-box {
    margin-bottom: 60px;
  }

  h5.my--company--details {
    color: #999999;
    font-size: 13px !important;
  }
}

div#invoice-header {
  padding: 15px;
}

small {
  font-size: 80%;
}

.aside--dark.toggled {
  .sidebar-nav-link .sidebar-text {
    display: none;
  }

  .sidebar-arrow {
    display: none;
  }

  li.header.nav-small-cap {
    display: none !important;
  }

  hr.divider-type4 {
    display: block !important;
  }
}

hr.divider-type4 {
  border-top: 1px solid #687384;
}

.panel-heading {
  padding: 8px
  15px !important;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .panel-title {
    font-size: 16px !important;
    line-height: 18px !important;

    a {
      color: #29304c;
      background: transparent;
      text-decoration: none;
      cursor: pointer;
    }
  }

  a.btn {
    display: inline-block;
    color: #484746;
  }

  .btn-sm {
    padding: 4px 8px;
    line-height: 12px;
    font-size: 12px;
  }

  .btn-default {
    color: #484746;
    background: #ececec;
    box-shadow: 0 1px #d3d3d3;
  }

  .btn {
    border: none;
    border-radius: 2px;
    font-size: 13px;
    line-height: 16px;
    padding: 6px 15px;
    display: inline-block;
    position: relative;
    text-shadow: none;
    cursor: pointer;
    transition: background .2s;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
}

.panel {
  background: #fff;
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(0,0,0,.08);



  .panel-form {
    padding: 0 8px;

    .row-line {
      padding: 8px;
      border-top: 1px solid hsla(0,0%,87.1%,.28);

      .info-group {
        margin: 0 0 16px;

        .info-label {
          display: block;
          font-weight: 700;
          margin-bottom: 5px;
          display: flex;
          justify-content: space-between;
          color: #5f6d84;
        }
      }
    }
  }
}

.filterable {
  .panel-body {
    padding: 8px 15px;
    border-top: 1px solid hsla(0,0%,87.1%,.28);
  }

  .table {
    width: 100%;
    border-collapse: collapse;
    font-family: -apple-system,BlinkMacSystemFont,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 13px;
    line-height: 16px;

    thead tr th {
      text-align: left;
      border-bottom: 2px solid hsla(0,0%,87.1%,.28) !important;
      padding: 8px !important;
      font-weight: 700;
      color: #5f6d84 !important;
    }

    tbody tr td {
      vertical-align: top;
      padding: 8px !important;
    }

    tbody td {
      cursor: pointer;
    }
  }

  .panel-alt {
    background: #fafbfc;
  }

  .panel-footer {
    padding: 8px 15px;
    border-top: 1px solid hsla(0,0%,87.1%,.28);
  }

  .flex-between {
    justify-content: space-between;
  }

  .flex-center {
    justify-content: center;
    align-items: center;
  }

  .form-input-sm {
    display: inline-block!important;
    width: 50px;
    padding: 4px;
    height: 20px;
  }

  .form-input {
    color: #484746;
    line-height: 16px;
    font-size: 13px;
    height: 32px;
    background: #fafafa;
    transition: background .2s;
    border: none;
    border-bottom: 1px solid rgba(0,0,0,.01);
    box-shadow: inset 0 1px 1px 0 rgba(0,0,0,.1);
    border-radius: 2px;
    padding: 8px;
    width: 100%;
    display: block;
  }
}

div#send--invoice--modal {
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(0,0,0,.08);

  .modal-heading {
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid hsla(0,0%,87.1%,.28);

    .modal-title {
      font-size: 18px;
      line-height: 24px;
    }
  }

  .modal-footer {
    padding: 15px;
    border-top: 1px solid hsla(0,0%,87.1%,.28);
    justify-content: space-between;

    .btn-default {
      color: #484746;
      background: #ececec;
      box-shadow: 0 1px #d3d3d3;
    }

    .btn {
      border: none;
      border-radius: 2px;
      font-size: 13px;
      line-height: 16px;
      padding: 6px 15px;
      display: inline-block;
      position: relative;
      text-shadow: none;
      cursor: pointer;
      transition: background .2s;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }

    .btn-primary {
      background: #3aa3e3;
      color: #fff;
      box-shadow: 0 1px #1d8acd;
    }
  }
}

.btn-outline-danger {
  color: #e93344 !important;
  background-color: transparent;
  background-image: none;
  border-color: #dc3545 !important;
}

.btn-outline-danger:hover {
  background-color: #e93344 !important;
  color: #fff !important;
}

.btn-outline-yellow {
  color: #f2b353 !important;
  background-color: transparent;
  background-image: none;
  border-color: #f2b353 !important;
}

.btn-outline-yellow:hover {
  background-color: #f2b353 !important;
  color: #fff !important;
}

.btn-outline-purple {
  color: #5c2ef3 !important;
  background-color: transparent;
  background-image: none;
  border-color: #5c2ef3 !important;
}

.btn-outline-purple:hover {
  background-color: #5c2ef3 !important;
  color: #fff !important;
}

.dashboard-card {
  .card-header {
    padding: 0.9375rem 5px !important;
    padding-bottom: 15px !important;

    .card-title {
      margin-bottom: 1rem;
      font-weight: 500;
      font-size: 16px !important;
      line-height: 1;
    }

    .card-title small, .card-subtitle {
      color: #757b88;
      font-size: 12px;
      display: block;
      margin: -.7rem 0 1rem;
      line-height: 1.1;
      font-weight: 400;
      margin-bottom: 0;
      text-transform: uppercase;
    }

    .card-options {
      margin-left: auto;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-order: 100;
      order: 100;
      margin-right: -.5rem;
      color: #cbd2dc;
      -ms-flex-item-align: center;
      align-self: center;
      width: 15%;
    }
  }

  .card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    margin: 0;
    padding: 20px;
    position: relative;

    .text-body {
      color: #74767c !important;
    }

    .font-weight-semibold {
      font-weight: 500 !important;
    }

    .text-uppercase {
      text-transform: uppercase !important;
    }

    .h-100 {
      height: 100% !important;
    }
    .w-40 {
      width: 40% !important;
    }

    .text-primary {
      color: #467fcf!important;
      font-size: 24px;
    }

    .text-secondary {
      color: #5eba00!important;
      font-size: 24px;
    }

    .text-warning {
      color: #ffca4a !important;
      font-size: 24px;
    }

    .text-danger {
      color: #ff6666 !important;
      font-size: 24px;
    }
  }

  .text-uppercase {
    text-transform: uppercase !important;
  }

  .text-muted {
    color: #9aa0ac !important;
  }

  .fs-16 {
    font-size: 16px;
  }

  .float-right {
    float: right !important;
  }

  .progress {
    position: relative;
  }

  .bg-primary {
    background-color: #467fcf!important;
    color: #fff !important;
  }
  .progress-bar {
    background-color: #467fcf;
  }
  .w-55 {
    width: 55% !important;
  }

  .h-2 {
    height: 0.5rem !important;
  }
  .mb-2, .my-2 {
    margin-bottom: 0.5rem !important;
  }

  .font-weight-semibold {
    font-weight: 500 !important;
  }

  .mb-3, .my-3 {
    margin-bottom: 0.75rem !important;
    font-size: 24px;
  }

  .resize-triggers, .resize-triggers > div, .contract-trigger:before {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
  }

  .list-group-flush:first-child .list-group-item:first-child {
    border-top: 0;
  }

  .list-group-flush:first-child .list-group-item:first-child {
    border-top: 0;
  }
  .list-group-flush .list-group-item {
    border-right: 0;
    border-left: 0;
    border-radius: 0;
  }
  .list-group-item:first-child {
  }
  .list-group-flush .list-group-item {
    border-right: 0;
    border-left: 0;
    border-radius: 0;
  }
  .list-group-item:first-child {
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
  }
  .list-group-item {
    position: relative;
    display: block;
    padding: 0.75rem 1.25rem;
    margin-bottom: -1px;
    color: #6b6f80;
    background-color: #fff;
    border: 1px solid rgba(107,122,144,0.3);
  }
  .list-group-item-action {
    width: 100%;
    color: #6b6f80;
    text-align: inherit;
  }

  .media {
    display: flex;
    align-items: flex-start;

    img {
      width: 40px !important;
      height: 40px !important;
    }

    .avatar-xxl {
      width: 5rem;
      height: 5rem;
      line-height: 5rem;
      font-size: 2rem;
    }

    .media-body {
      flex: 1;

      h4 {
        font-weight: 500;
        font-size: 14px;
        margin-bottom: 5px !important;
      }

      .text-primary {
        color: #467fcf!important;
      }

      small, .small {
        font-size: 87.5%;
        font-weight: 400;
      }
    }

    .media-body, .media-left, .media-right {
      display: table-cell;
      vertical-align: top;
    }

    .text-muted {
      color: #9aa0ac !important;
    }
  }

  #toggles{
    width:60px;
    margin:50px auto;
    text-align:center;
  }
  .ios-toggle,.ios-toggle:active{
    position:absolute;
    top:-5000px;
    height:0;
    width:0;
    opacity:0;
    border:none;
    outline:none;
  }
  .checkbox-label{
    display: block;
    position: relative;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 12px;
    line-height: 16px;
    width: 70%;
    height: 15px;
    border-radius: 18px;
    background: #f8f8f8;
    cursor: pointer;
  }
  .checkbox-label:before{
    content: "";
    display: block;
    position: absolute;
    z-index: 1;
    line-height: 35px;
    text-indent: 32px;
    height: 20px;
    width: 20px;
    border-radius: 100%;
    top: 0px;
    left: 0px;
    right: 0;
    background: white;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2), 0 0 0 2px #dddddd;
  }

  .ios-toggle:checked + .checkbox-label{
    /*box-shadow*/
    -webkit-box-shadow:inset 0 0 0 20px rgba(19,191,17,1),0 0 0 2px rgba(19,191,17,1);
    -moz-box-shadow:inset 0 0 0 20px rgba(19,191,17,1),0 0 0 2px rgba(19,191,17,1);
    box-shadow:inset 0 0 0 20px rgba(19,191,17,1),0 0 0 2px rgba(19,191,17,1);
  }
  .ios-toggle:checked + .checkbox-label:before{
    left: calc(100% - 20px);
    /*box-shadow*/
    -webkit-box-shadow:0 0 0 2px transparent,0 3px 3px rgba(0,0,0,.3);
    -moz-box-shadow:0 0 0 2px transparent,0 3px 3px rgba(0,0,0,.3);
    box-shadow:0 0 0 2px transparent,0 3px 3px rgba(0,0,0,.3);
  }
  .ios-toggle:checked + .checkbox-label:after{
    content:attr(data-on);
    left:60px;
    width:36px;
  }
  /* GREEN CHECKBOX */

  #checkbox1 + .checkbox-label{
    /*box-shadow*/
    -webkit-box-shadow:inset 0 0 0 0px rgba(19,191,17,1),0 0 0 2px #dddddd;
    -moz-box-shadow:inset 0 0 0 0px rgba(19,191,17,1),0 0 0 2px #dddddd;
    box-shadow:inset 0 0 0 0px rgba(19,191,17,1),0 0 0 2px #dddddd;
  }
  #checkbox1:checked + .checkbox-label{
    /*box-shadow*/
    -webkit-box-shadow:inset 0 0 0 18px rgba(19,191,17,1),0 0 0 2px rgba(19,191,17,1);
    -moz-box-shadow:inset 0 0 0 18px rgba(19,191,17,1),0 0 0 2px rgba(19,191,17,1);
    box-shadow:inset 0 0 0 18px rgba(19,191,17,1),0 0 0 2px rgba(19,191,17,1);
  }
  #checkbox1:checked + .checkbox-label:after{
    color:rgba(19,191,17,1);
  }
}

.dropdown-menu.show {
  border: 0 !important;
  margin: 0;
  border-radius: 0;
  min-width: 14rem;
  padding: 0;
  -webkit-box-shadow: 0px 0px 50px 0px rgba(82, 63, 105, 0.15);
  box-shadow: 0px 0px 50px 0px rgba(82, 63, 105, 0.15);
  padding: 1rem 0;
  border-radius: 4px;
  left: 0/*rtl:ignore*/;

  .nav__section-text {
    color: #366cf3;
    font-weight: 600;
    font-size: 0.9rem;
    text-transform: uppercase;
    font-size: 13px !important;
  }

  .nav__section.nav__section--first {
    margin-top: 0.5rem !important;
  }

  .nav__section {
    margin-top: 1rem;
    padding: 0 1.75rem;
  }

  a.dropdown-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0.55rem 1.75rem;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    font-size: 13px !important;

    i {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 30px;
      flex: 0 0 30px;
      font-size: 13px !important;
      line-height: 0;
      color: #a2a5b9;
    }

    .nav__link-text {
      -webkit-box-flex: 1;
      -ms-flex-positive: 1;
      flex-grow: 1;
      font-size: 13px;
      color: #595d6e;
      font-weight: 400;
    }
  }
}

.export-btn {
  background-color: #d0eeea;

  i {
    color: #57b88b;
  }
}

.alert-solid-danger {
  background: rgba(253, 57, 122, 0.1);
  border-color: transparent;
  color: #fd397a;
}

.alert {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  padding: 1rem 2rem;
  margin: 0 0 20px 0;
  border-radius: 4px;
  position: relative;
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;

  .alert-solid-danger {
    background: rgba(253, 57, 122, 0.1);
    border-color: transparent;
    color: #fd397a;
  }

  .kt-margin-b-40 {
    margin-bottom: 40px !important;
  }

  .kt-margin-t-20 {
    margin-top: 20px !important;
  }

  .alert-icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 1.25rem 0 0;

    i {
      color: #fd397a !important;
      font-size: 2rem;
    }
  }

  .alert-close {
    padding: 0 0 0 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }

  .alert-text {
    font-weight: 500;
    color: #fd397a;
    align-self: center;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
  }
}

.tab-content {
  .card-header {
    border-bottom: 1px solid #d6d6d6 !important;
    padding: 10px 15px !important;
  }

  .input-group {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    width: 100%;
  }

  .input-group-prepend {
    margin-right: -1px;
  }

  .input-group-prepend, .input-group-append {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .input-group-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0.65rem 1rem;
    margin-bottom: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #74788d;
    text-align: center;
    white-space: nowrap;
    background-color: #f7f8fa;
    border: 1px solid #e2e5ec;
    border-radius: 4px;
  }

  .input-group i {
    color: #74788d;
    line-height: 0;
  }

  .input-group > .input-group-prepend > .btn, .input-group > .input-group-prepend > .input-group-text, .input-group > .input-group-append:not(:last-child) > .btn, .input-group > .input-group-append:not(:last-child) > .input-group-text, .input-group > .input-group-append:last-child > .btn:not(:last-child):not(.dropdown-toggle), .input-group > .input-group-append:last-child > .input-group-text:not(:last-child) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  .card-footer {
    padding: 25px;
    border-top: 1px solid #ebedf2;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    background-color: #fff;

    .btn-secondary {
      background-color: transparent;
      border: 1px solid #e2e5ec;
      color: #595d6e;
    }

    .btn {
      background: transparent;
      outline: none !important;
      vertical-align: middle;
    }

    .btn-secondary {
      background-color: #fff !important;
      color: #5e5e5e !important;
      padding: 5px 15px !important;
      border-radius: 0 !important;
      border: 1px solid #d6d6d6 !important;
    }

    button.btn.btn-success {
      background-color: #3aa3e3 !important;
      color: #fff !important;
      padding: 5px 15px !important;
      border-radius: 0 !important;
    }

    .btn {
      display: inline-block;
      font-weight: normal;
      color: #212529;
      font-size: 13px !important;
      text-align: center;
      vertical-align: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      background-color: transparent;
      border: 1px solid transparent;
      padding: 0.65rem 1rem;
      font-size: 1rem;
      line-height: 1.5;
      border-radius: 0.25rem;
      -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
      transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
      transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
      transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    }
  }
}

.card {
  padding: 15px !important;

  .widget__media {
    img {
      width: 90px;
      max-width: 100%;
      border-radius: 8px;
    }
  }

  .card-header {

    .portlet__head-label {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -ms-flex-line-pack: flex-first;
      align-content: flex-first;

      .portlet__head-title {
        margin: 0;
        padding: 0;
        font-size: 1.2rem;
        font-weight: 500;
        color: #48465b;

        small {
          font-weight: 300;
          padding-left: 0.5rem;
          font-size: 1rem;
          color: #74788d;
        }
      }
    }
  }

  div#nav-tabContent {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    position: relative;
    padding: 0 25px;
    border-bottom: 1px solid #ebedf2;
    min-height: 60px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
  }

  form.form.form--label-right {
    .portlet__body {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      padding: 25px;
      border-radius: 4px;

      .section.section--first {
        margin-top: 0;
      }
      .section {
        padding: 0;
        margin: 0 0 2rem 0;
      }

      .form-group {
        margin-bottom: 15px;

        label {
          font-size: 1rem;
          font-weight: 400;
        }

        .col-form-label {
          padding-top: calc(0.65rem + 1px);
          padding-bottom: calc(0.65rem + 1px);
          margin-bottom: 0;
          font-size: inherit;
          line-height: 1.5;
        }

        .kt-avatar {
          position: relative;
          display: inline-block;

          .avatar--outline .avatar__holder {
            border: 3px solid #ffffff;
            -webkit-box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.1);
            box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.1);
          }

          .avatar__holder {
            width: 120px;
            height: 120px;
            border-radius: 3px;
            background-repeat: no-repeat;
            background-size: cover;
          }

          .avatar__upload {
            cursor: pointer;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            position: absolute;
            right: -10px;
            top: -10px;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            background-color: #ffffff;
            -webkit-box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.1);
            box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.1);
            -webkit-transition: all 0.3s;
            transition: all 0.3s;

            i {
              color: #366cf3;
              font-size: 11px;
            }
          }

          .avatar__upload input {
            width: 0 !important;
            height: 0 !important;
            overflow: hidden;
            opacity: 0;
          }
        }
      }

      .form-control {
        display: block;
        height: 35px;
        padding: 10px 15px;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #e2e5ec;
        border-radius: 4px;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
        outline: none !important;
      }

      @media (min-width: 1025px) {
        .form--label-right {
          text-align: right !important;
        }
      }
    }

    h3.section__title.section__title-sm {
      display: block;
      font-size: 15px;
      font-weight: 500;
      padding: 0;
      margin: 0 0 1.75rem 0;
      color: #48465b;
      margin-bottom: 15px;
    }
  }

  .card-body {
    padding: 0 5px !important;

    .widget__content {
      padding-left: 0rem;
    }

    .nav {
      display: block !important;
    }

    .widget__items {
      .widget__item {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        padding: 0.9rem 1.05rem 0.9rem 0.6rem;
        margin: 0.4rem 0;
        cursor: pointer;

        i {
          width: 2rem;
          color: #426eeb;
        }

        .widget__desc {
          color: #74788d !important;
          font-weight: 500;
        }

        .widget__desc {
          color: #366cf3;
        }
      }

      .widget__item--active {
        -webkit-transition: color 0.3s ease;
        transition: color 0.3s ease;
        background: #f2f3f7;
        border-radius: 4px;
      }

      .widget__item.widget__item:hover {
        background: #f2f3f7;
      }
    }
  }
    .widget__content {
      padding: 0 0 2.1rem 0;

      .widget__info {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        padding-bottom: 0.5rem;

        .widget__label {
          color: #48465b;
          font-weight: 500;
        }

        .widget__data {
          color: #74788d;
          font-weight: 400;
      }
    }
  }

  .font-success {
    color: #1dc9b7 !important;
  }

  .widget__content {
    padding-left: 1.6rem;

    .widget__username {
      font-size: 1.3rem;
      color: #48465b;
      font-weight: 500;
    }

    .widget__subtitle {
      font-size: 1;
      display: block;
      padding: 0.25rem 0 0 0;
      font-weight: 500;
      color: #74788d;
    }
  }

}

.m-t-10 {
  margin-top: 10px;
}

.m-t-65 {
  margin-top: 65px !important;
}

.tab-content>.active{
  padding: 0 !important;
}

//#aside {
//  margin-top: 90px !important;
//}

.news-slider {
  position: fixed;
  top: 50px;
  display: block;

  .best-ticker {
    margin-top: 90px;

    ul {
      li {
        .bg-info-transparent {
          background-color: #effbfc;
        }

        span.bn-positive {
          color: #57adcc;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  #header .navbar-header .navbar-brand span.logo {
    display: block !important;
  }

  #header .navbar-header .navbar-brand {
    width: 100% !important;

    img {
      width: 100%;
      height: 100%;
    }
  }
}

.booking-modal {
  .modal-header {
    background-color: #32323a !important;
    color: #fff;
    padding: 10px 15px;
    border-radius: 0;

    h5 {
      font-size: 16px;
      font-weight: 600;
    }
  }

  .booking-modal-list {
    h5 {
      font-size: 14px;
    }
  }

  .list-b-item {
    padding: 15px 0 15px 0;
    border-bottom: 1px solid #d6d6d6;

    label {
      font-weight: 500;
    }
  }

  .change-driver-form {
    margin-top: 15px;
  }

  .btn {
    border: none;
    border-radius: 2px;
    font-size: 13px;
    line-height: 16px;
    padding: 6px 15px;
    display: inline-block;
    position: relative;
    text-shadow: none;
    cursor: pointer;
    transition: background 0.2s;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  button.btn-primary {
    background: #3aa3e3;
    color: #fff;
    box-shadow: 0 1px #1d8acd;
  }
}

.width-40 {
  width: 40% !important;
}

.bulins {
  display: flex;

  .text-success {
    color: #1ecab8 !important;
  }

  .text-warning {
    color: #f3c74d !important;
  }

  .text-purple {
    color: #7551e9 !important;
  }

  .text-secondary {
    color: #4ac7ec !important;
  }

  .text-danger {
    color: #f1646c !important;
  }
}

div#app-settings {
  height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;

  a {
    color: #29304c;
    background: transparent;
    text-decoration: none;
    cursor: pointer;
  }

  textarea.form-input, textarea.table-form-control {
    height: 99px !important;
  }

  .form-input {
    color: #484746;
    line-height: 16px;
    font-size: 13px;
    height: 32px;
    background: #fafafa;
    transition: background .2s;
    border: none;
    border-bottom: 1px solid rgba(0,0,0,.01);
    box-shadow: inset 0 1px 1px 0 rgba(0,0,0,.1);
    border-radius: 2px;
    padding: 8px;
    width: 100%;
    display: block;
  }

  .upload {
    height: 200px;
    width: 100%;
    overflow-y: scroll;

    .upload-inner {
      border-radius: 3px;
      border: 1px dashed #edece4;
      background: #f9f8f5;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .upload-image-close {
        z-index: 99;
        padding-bottom: 5px;
        text-align: right;
      }

      .upload-image-img {
        display: block;
        max-width: 230px;
        max-height: 95px;
        width: auto;
        height: auto;
      }
    }
  }

  .settings-sidebar {
    position: relative;
    min-height: 100%;
    /* width: 22%; */
    height: 100vh;
    border-left: 2px solid rgba(0, 0, 0, 0.1);
    border-right: 1px solid rgba(0, 0, 0, 0.02);

    .settings-title {
      margin: 7px;
      font-size: 18px;
      line-height: 18px;
      font-weight: 400;
      display: block;
    }

    .settings-sidebar-inner {
      background: #fff;
      height: 100%;
      overflow-y: scroll;
      padding: 15px;

      .settings-list {
        padding: 0;
        margin: 0;

        li:hover {
          background-color: #f8f8f8;
        }

        li {
          display: block;

          a.settings-link {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            padding: 7px;
            outline: none;


            .settings-text {
              flex: 6;
            }

            .settings-icon2 {
              flex: 0.5;
              text-align: right;
            }
          }
        }
      }
    }
  }

  .settings-inner {
    position: relative;
    height: 100%;
    overflow-y: scroll;
  }
}

.crud-alert {
  margin-top: 65px !important;
  margin-bottom: -45px !important;
  border-radius: 0 !important;
}

.vh--content {
  display: grid;
  margin-left: 14px;

  a {
    font-size: 16px;
    font-weight: 500;
  }

  p {
    margin-bottom: 0;

    span {
      font-weight: 600;
    }
  }
}

.add__user--form {
  @media (min-width: 576px) {
    form.form-horizontal .form-group .label-control {
      text-align: right;
    }
  }

  .form-control {
    border: 1px solid #CACFE7;
    color: #3B4781;
  }

  label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block !important;
    /* justify-content: space-between; */
    text-align: right !important;
    padding-top: 5px;
    color: #5F6D85;
  }

  .form-control {
    color: #484746;
    line-height: 16px;
    font-size: 13px;
    height: 32px;
    background: #fafafa;
    transition: background 0.2s;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.01);
    box-shadow: inset 0 1px 1px 0 rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    padding: 8px;
    width: 100%;
    display: block;
  }

  form.form-bordered .form-group .label-control {
    padding-top: 1.5rem;
  }

  .form-group {
    margin-bottom: 0;
  }
}

aside#dispatch-sidebar {
  float: left;
  width: 250px;
  color: #99a4ce;
  background-color: #fff !important;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  transition: all 0.299s;
  height: 100vh;
  padding: 0 !important;
  position: fixed;
  overflow: scroll;
  box-shadow: 0 0 15px #d6d6d6;

  .dispatch-sidebar__header {
    padding: 45px 15px;
    border-bottom: 1px solid #d6d6d6;
    background-color: #62b9b9;
  }

  li:hover {
    background-color: #e4e6f7;
  }

  li {
    padding: 15px;
    border-bottom: 1px solid #d6d6d6;
    width: 100%;

    a {
      text-decoration: none;
    }

    .car-title {
      color: #000;
      font-weight: 700;
      font-size: 15px;
    }

    .car-plate {
      color: #504f52;
      font-size: 14px;
      font-weight: 500;
    }

    .car-status {
      color: #504f52;
      font-size: 14px;
      font-weight: 500;
    }

    .car-driver {
      color: #504f52;
      font-size: 14px;
      font-weight: 500;
    }
  }
}

div#dispatch-content {
  min-height: 100vh;
  padding-left: 250px;
}

.md-w245 {
  width: 16% !important;
}

a.btn-tbl-accept {
  background-color: #c5e49a;
  border-radius: 50% !important;
  padding: 0px !important;
  color: #fff !important;
  box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.2);
  width: 20px;
  height: 20px;
  cursor: pointer;
  text-align: center;

  i {
    font-size: 9px;
  }
}

a.btn-tbl-reject {
  background-color: #ec6b6b;
  border-radius: 50% !important;
  padding: 0px !important;
  color: #fff !important;
  box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.2);
  width: 20px;
  height: 20px;
  cursor: pointer;
  text-align: center;
  margin-left: 10px;

  i {
    font-size: 9px;
  }
}

span.select2-selection.select2-selection--single {
  cursor: pointer;
  color: #484746;
  line-height: 16px;
  font-size: 13px;
  height: 32px;
  background: #fafafa;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.01);
  box-shadow: inset 0 1px 1px 0 rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  padding: 8px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  border-radius: 0 !important;
  outline: none !important;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  color: #444;
  line-height: 15px !important;
  padding-left: 0 !important;
}

span.select2-dropdown.select2-dropdown--below {
  font-size: 13px;
  border: 1px solid #d6d6d6;
  box-shadow: 0 0 5px #d6d6d6;
}

.side-menu__collapsed.show {
  a.list-group-item {
  background: #28282b;
  padding-left: 47px !important;

    i {
      margin-right: 10px;
    }
  }
}

div#assignModal {
  .modal-header {
    padding: 10px 15px;

    h5#exampleModalLongTitle {
      font-size: 16px;
      font-weight: 600;
    }
  }

  .modal-footer {
    padding: 10px 15px;

    .btn {
      border: none;
      border-radius: 2px;
      font-size: 13px;
      line-height: 16px;
      padding: 6px 15px;
      display: inline-block;
      position: relative;
      text-shadow: none;
      cursor: pointer;
      transition: background 0.2s;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }

    button.btn.btn-secondary {
      color: #484746;
      background: #ececec;
      box-shadow: 0 1px #d3d2d2;
      outline: none !important;
    }

    button.btn.btn-primary {
      background: #3aa3e3;
      color: #fff;
      box-shadow: 0 1px #1d8acd;
    }
  }
}

.sunset-msg {
  display: inline-flex;
  margin-bottom: 15px;

  .text-box {
    margin-left: 25px;
    padding-top: 10px;

    p.tit {
      font-weight: 900;
      font-size: 22px;
      letter-spacing: 0px;
      margin-bottom: 0px;
      color: #3c3c3c;
    }

    p.subtit {
      font-size: 13px;
      color: #5e5e5e;
      margin-bottom: 0;
    }
  }
}


div#single--booking {
  margin-top: 35px;
  padding-right: 55px;

  .booking-body {
    background-color: #fff;
    box-shadow: 0 0 35px 0 rgba(154, 161, 171, 0.15);
    background-color: #fff;
    padding: 25px 75px;
    width: 90%;
    text-align: center;
    margin-right: 30px !important;

    h5 {
      font-weight: 700;
      font-size: 16px;
      color: #6c757d;
      margin-bottom: 15px;
    }
  }

  span.circle {
    text-align: center;
    position: relative;
    left: 3%;
    margin-top: 1.5%;
    background-color: #5BC0F1;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    padding: 12px;
    border: 2px solid #fff;
    box-shadow: 0 0 10px #d6d6d6;

    p.day {
      margin-bottom: 0;
      color: #fff;
      font-weight: 800;
      font-size: 22px;
    }

    p.month {
      color: #fff;
      font-weight: 800;
      font-size: 12px;
    }
  }

  .informations-column {
    text-align: left;

    h5 {
      font-weight: 700;
      font-size: 16px;
      color: #6c757d;
      margin-bottom: 15px;
    }

    ul {
      list-style: none;
      padding: 0;

      li {
        border-bottom: 1px solid #f1f1f1;
        padding: 10px 0;
        display:flex;

        span.left-col {
          width: 50%;
          text-align: left;
          display: block;
          float: left;
          color: #a8abad;
          font-weight: 600;
        }

        span.right-col {
          width: 50%;
          text-align: right;
          display: block;
          float: right;
          color: #a8abad;
          font-weight: 600;
        }
      }
    }
  }

  h6.medium-title {
    font-weight: 600;
    font-size: 13px;
    color: #6c757d;
    margin-bottom: 15px;
  }

  img.avatar-r3 {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 15px;
  }

  span.assigned-name {
    font-weight: 600;
    color: #5181a2;
  }

  span.assigned-vehicle {
    font-weight: 600;
    color: #a0abb1 !important;
    font-size: 15px;
    margin-top: 0px;
  }

  .booking-header {
    box-shadow: 0 0 35px 0 rgba(154,161,171,.15);
    background-color: #fff;
    padding: 25px 75px;
    width: 95%;
    text-align: center;

    .inline-cardex {
      text-align: left;

      h5.day-title {
        font-weight: 700;
        font-size: 19px;
        color: #6c757d;
        margin-bottom: 15px;
      }

      p.complet-date {
        color: #98a6ad!important;
        margin-bottom: 5px;
        /* margin-top: 5px; */
      }
    }
  }
}

.table thead th {
  border: none !important;
}

.table-icons-btns {
  a {
    padding: 0 5px;

    i {
      color: #424f5d !important;
      font-size: 12px;
    }
  }
}

$color-error: #e75650;
$color-primary: #3aa3e3;
$color-secondary: #2c405a;
$text-color: #484746;
$bg-color: #fafafa;
$bg-color-light: #fcfcfc;
$border-color: rgba(63, 63, 68, 0.1);

$font-family: Helvetica, sans-serif;

$box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08);

.dv {
  .panel {
    background: #fff;
    margin-bottom: 16px;
    border-radius: 2px;
    box-shadow: $box-shadow;
    &-heading {
      padding: 8px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-bottom: 1px solid $border-color;
    }
    &-title {
      font-size: 18px;
      line-height: 24px;
    }
    &-body {
      padding: 8px;
    }
    &-footer {
      padding: 8px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-top: 1px solid $border-color;
    }
  }

  .table {
    width: 100%;
    border-collapse: collapse;
    thead {
      tr {
        th {
          text-align: left;
          border-bottom: 2px solid $border-color;
          padding: 5px;
          font-weight: bold;
        }
      }
    }
    tbody {
      tr {
        border-top: 1px solid $border-color;
        td {
          vertical-align: top;
          padding: 5px;
        }
        &:nth-of-type(odd) {
          background: $bg-color-light;
        }
      }
    }
  }

  select {
    background: #fafafa;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.01);
    border-radius: 1px;
    box-shadow: inset 0 1px 1px 0 rgba(0, 0, 0, 0.1);
  }

  .form-control {
    color: $text-color;
    line-height: 13px;
    font-size: 13px;
    height: 32px;
    background: #fafafa;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.01);
    border-radius: 1px;
    box-shadow: inset 0 1px 1px 0 rgba(0, 0, 0, 0.1);
    padding: 8px;
    width: 100%;
    display: block;
  }

  .filter {
    &-item {
      margin-bottom: 15px;
      display: flex;
    }
    &-column {
      padding-right: 15px;
      width: 25%;
    }
    &-operator {
      padding-right: 15px;
      width: 25%;
    }
    &-query_1 {
      width: 24%;
      padding-right: 15px;
    }
    &-full {
      width: 48%;
    }
    &-query_2 {
      width: 24%;
    }
    &-remove {
      width: 2%;
      text-align: right;
      button {
        color: $color-error;
        background: transparent;
        border: none;
        font-weight: bold;
      }
    }
  }

  .btn {
    border: none;
    border-radius: 2px;
    padding: 5px 10px;
    display: inline-block;
    position: relative;
    text-shadow: none;
    cursor: pointer;
    transition: background 0.2s;
    color: $text-color;
    background: #ececec;
    border-bottom: 1px solid darken(#ececec, 10%);
    &-primary {
      background: $color-primary;
      color: #fff;
      border-bottom: 1px solid darken($color-primary, 10%);
    }

    &-secondary {
      background: $color-secondary;
      color: #fff;
      border-bottom: 1px solid darken($color-secondary, 10%);
    }
  }

  .filterable {
    &-export {
      margin-bottom: 15px;
      display: flex;
      justify-content: space-between;
    }
  }
}

div#bookings-page {
  a.btn-danger, a.btn-primary, a.btn-secondary, a.btn-success {
    color: #fff;
  }

  a.btn {
    display: inline-block;
    color: #484746;
  }

  i {
    font-size: 11px;
    margin-right: 5px;
  }

  .form-group {
    margin-bottom: 0 !important;
  }

  .btn {
    font-size: 12px;
  }

  .btn-primary {
    background: #3aa3e3;
    color: #fff;
    box-shadow: 0 1px #1d8acd;
  }

  .btn-sm {
    padding: 4px 8px !important;
    line-height: 12px;
    font-size: 12px;
  }

  .btn {
    border: none;
    border-radius: 2px  !important;
    font-size: 13px  !important;
    line-height: 16px  !important;
    padding: 6px 15px;
    display: inline-block;
    position: relative;
    text-shadow: none;
    cursor: pointer;
    transition: background .2s;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .btn-default {
    color: #484746 !important;
    background: #ececec !important;
    box-shadow: 0 1px #d3d3d3 !important;

    span {
      font-size: 11px !important;
    }
  }

  .form-input-sm {
    display: inline-block!important;
    width: 50px;
    padding: 4px;
    height: 20px;
  }

  .filter-column, .filter-operator {
    padding-right: 15px;
    width: 25%;
  }

  select.form-control {
    color: #484746;
    line-height: 16px;
    font-size: 13px;
    height: 32px;
    background: #fafafa;
    transition: background 0.2s;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.01);
    box-shadow: inset 0 1px 1px 0 rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    padding: 8px;
    width: 100%;
    display: block;
  }

  .filterable-sort {
    margin-left: 10px;
    margin-right: 10px;
    width: 200px;
  }

  .form-input-sm {
    display: inline-block!important;
    width: 50px;
    padding: 4px;
    height: 20px;
  }

  .filterable-direction i {
    color: #3aa3e3;
  }

  .btn:disabled, .btn:disabled:active, .btn:disabled:hover {
    cursor: not-allowed;
    color: #bfbfbf;
  }

  input.form-control {
    color: #484746;
    line-height: 16px;
    font-size: 13px;
    height: 32px;
    background: #fafafa;
    transition: background 0.2s;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.01);
    box-shadow: inset 0 1px 1px 0 rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    padding: 8px;
    width: 100%;
    display: block;
  }

  .form-input {
    color: #484746;
    line-height: 16px;
    font-size: 13px;
    height: 32px;
    background: #fafafa;
    transition: background .2s;
    border: none;
    border-bottom: 1px solid rgba(0,0,0,.01);
    box-shadow: inset 0 1px 1px 0 rgba(0,0,0,.1);
    border-radius: 2px;
    padding: 8px;
    width: 100%;
    display: block;
  }

  .panel {
    background: #fff;
    border-radius: 2px;
    box-shadow: 0 1px 3px rgba(0,0,0,.08);
    margin-bottom: 0 !important;

    .panel-heading {
      padding: 8px 15px;
      display: flex;
      justify-content: space-between !important;
      align-items: center;

      .panel-title {
        font-size: 18px;
        line-height: 22px;

        .filters-title {
          font-size: 18px;
          line-height: 18px;
        }
      }
    }
  }

  .panel-body {
    padding: 8px 15px;
    border-top: 1px solid hsla(0,0%,87.1%,.28);

    .filter-item {
      margin-bottom: 10px !important;
      display: flex !important;
      justify-content: flex-start !important;
      position: relative !important;

      .form-input {
        color: #484746;
        line-height: 16px;
        font-size: 13px;
        height: 32px;
        background: #fafafa;
        transition: background .2s;
        border: none;
        border-bottom: 1px solid rgba(0,0,0,.01);
        box-shadow: inset 0 1px 1px 0 rgba(0,0,0,.1);
        border-radius: 2px;
        padding: 8px;
        width: 100%;
        display: block;
      }

      .filter-column {
        padding-right: 15px;
        width: 25%;
      }
    }


    .filter-remove {
      button {
        display: inline-block;
        color: #e75650;
        background: transparent;
        border: none;
        padding: 6px;
      }
    }
  }

  .filterable-mid {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
  }

  .panel-footers {
    padding: 8px 15px !important;
    border-top: 1px solid hsla(0,0%,87.1%,.28) !important;

    .form-input {
      width: 45px !important;
    }
  }

  a.btn-tbl-accept, a.btn-tbl-reject {
    i {
      font-size: 7px;
      /* margin-right: 5px; */
      padding: 7px;
    }
  }

  .filter-full {
    width: 46%;
  }
}

.m-t-65 {
  margin-top: 65px !important;
}

a.btn.btn-label-brand.btn-bold {
  color: #5d78ff !important;
  padding: 8px 15px !important;
  -webkit-border-radius: 5px !important;
  -moz-border-radius: 5px !important;
  border-radius: 5px !important;
}